.footer{
    height: 4em;
    width: 100%;
    background: rgb(22, 43, 175);
    position: fixed;
    bottom: 0px;

}
.footer p{
    font-size: 24px;
    text-align: center;
    color: white;
    position: relative;
    bottom: 20%;
    text-shadow: 1px 1px rgb(0, 184, 74);
}
.footer span{
    font-size: 40px;
    color: rgb(0, 184, 74);
    text-shadow: 1px 1px white;
}
