<div class= 'baseComp'>
<h3 class='title'>
  Current Fitness Picture
</h3>

<mat-card mat-buton (click)="openDialog()">
    <p class="eventAdd">+</p>
    <mat-card-subtitle>Add a Snapshot of your current fitness</mat-card-subtitle>
</mat-card>


  
    <mat-card class="fitnessCard" *ngFor="let stat of stats">
      
        <mat-card-title>{{stat.discipline | uppercase}} SNAPSHOT</mat-card-title>
        <mat-card-subtitle>Training for: {{stat.measurement}}</mat-card-subtitle>
        
        <div *ngIf = 'stat.measurement == "Time"'>
          <mat-card-content>Capable of <b>{{stat.discipline}} {{stat.currentDistance}} {{stat.unit}}</b> in
           <b>{{stat.currentHours}}:{{stat.currentMinutes | number: '2.0'}}:{{stat.currentSeconds | number: '2.0'}}</b> as of <b>{{stat.date}}</b></mat-card-content>
        </div>
        <div *ngIf = 'stat.measurement == "Distance"'>
          <mat-card-content>Capable of <b>{{stat.discipline}} {{stat.currentDistance}} {{stat.unit}} </b>as of <b>{{stat.date}}</b></mat-card-content>
        </div>
      
      
        <button (click)="onUpdate(stat.id)">UPDATE</button>
        <button (click)="onDelete(stat.id)">DELETE</button>
      
    </mat-card>
    </div>
  


<!-- "id": 1,
"date": "string",
"discipline": "string",
"measurement": "Distance",
"unit": "Kilometers",
"currentDistance": 5,
"currentHours": 5,
"currentMinutes": 5,
"currentSeconds": 5,
"totalSeconds": 18305,
"owner": 32,
"createdAt": "2018-07-25T17:04:26.347Z",
"updatedAt": "2018-07-25T17:04:26.347Z" -->
