.title {
    position: relative;
    text-align: center;
    margin-left: 2em;
}
h3 {
    font-size: 30px;
}
.eventAdd {
    font-size: 50px;
    text-align: center;
    border: 1px gray solid;
    cursor: pointer;
}
mat-card{
    width: 100%;
    background-color: rgb(75, 152, 185);
    border-radius: 1em;
}
.fitnessCard{
    margin: 1em;
}

.baseComp {
    margin: 5em 0em 5em 0em;
    position: absolute;
    top: 0em;
    left: 0em;
}
#addCard {
    margin: 1em;
    background-color: rgb(75, 152, 185);
    border-radius: 1em;

}