.fill-remaining-space {
    flex: 1 1 auto;
}

mat-toolbar {
    font-size: 24px;
    background: rgb(22,43,175);
    color: white;
    text-shadow: 1px 1px rgb(0, 184, 74);
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
}

i {
    font-size: 40px;
    color:rgb(0, 184, 74);
    text-shadow: 1px 1px white;
}