<h2>Enter Your Event!</h2>
<form [formGroup]='eventForm'>
  <mat-form-field appearance='outline'>
    <input matInput formControlName='eventDate' placeholder="Event Date" type='date' required> Date of the Event
  </mat-form-field>
  <mat-form-field appearance='outline'>
    <input matInput formControlName='eventName' placeholder="Event Name" required>
  </mat-form-field>
  <mat-form-field appearance='outline'>
    <input matInput formControlName='eventCity' placeholder="Event City" required>
  </mat-form-field>
  <mat-form-field appearance='outline'>
    <mat-select formControlName='eventType' placeholder="Event Type" required>
      <mat-option value='running'>Running</mat-option>
      <mat-option value='swimming'>Swimming</mat-option>
      <mat-option value='cycling'>Cycling</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance='outline'>
    <mat-select matInput formControlName='measurement' placeholder='What will we measure?' required>
      <mat-option value='Time'>Time</mat-option>
      <mat-option value='Distance'>Distance</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance ='outline'>
    <mat-select matInput formControlName='unit' placeholder="Unit of Measurement" required>
      <mat-option value='Miles'>Miles</mat-option>
      <mat-option value='Kilometers'>Kilometers</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance='outline'>
    <input matInput formControlName='eventDistance' placeholder="Event Total Distance" required>
  </mat-form-field>
  <mat-form-field appearance='outline'>
    <input matInput formControlName='goalHours' placeholder="Your Goal Hours" required><hr>
    <input matInput formControlName='goalMinutes' placeholder="Your Goal Minutes" required><hr>
    <input matInput formControlName='goalSeconds' placeholder="Your Goal Seconds" required><hr>
  Goal Times
  </mat-form-field>
  <br>
  <button mat-raised-button color='primary' type="submit" (click)='onSubmit()'>Create Plan for this Event</button>
  <button mat-raised-button color='warn' (click)='close()'>Cancel</button>

</form>