.title {
    position: relative;
    text-align: center;
    width: 100%;
    left: 1.5em;
}
h3 {
    font-size: 30px;
}
.eventAdd {
    cursor: pointer;
    font-size: 50px;
    text-align: center;
    border: 1px gray solid;
}
mat-card{
    width: 100%;
    background-color: rgb(75, 152, 185);;
    margin: 1em;
    border-radius: 1em;
}
.eventsComp{
    margin-left: -11em;
    margin-top: 5em;
    position: absolute;
    top: 0em;
}

#createPlan {
    background-color: rgb(0, 184, 74);
}

#toggles {
    background-color: rgb(0, 184, 74);
    display: inline-block;    
}
.toggles {
    margin-left: 5em;
}
