<body>
  <div id="jumbotron">
    <img src="../../assets/pexels-photo-332835.jpeg" id="jimg" style="background: no-repeat">
  </div>
  <mat-card>
    <div id="about">
      <h2>Welcome to Event Driven Results!</h2>
      <p>Here at Event Driven Results, We believe that every individual should be working towards some sort of fitness goal.
        This may be <b style="color: red">hard to achieve</b> because of <b style="color: red">lack of knowledge</b> or <b style="color: red">lack of motivation</b>. That's why we created the perfect
        app to provide not only <b style="color: green">clear and concise milestones</b> to achieve <b style="color: green">every two weeks</b>, but also a way to <b style="color: green">connect you with
        local events and people</b> in your area! Whether you're training to run the Boston Marathon or are just trying to find
        a local running group Event Driven Results wants you to <b style="color: green">pursue your goals</b> and make meaningfull connections in your
        local community!</p>
    </div>
  </mat-card>
</body>