<h2>
<span *ngIf="!data.update">Enter</span>
<span *ngIf="data.update">Update</span>
Your Starting Stats!</h2>

<form [formGroup]='baseFitnessForm'>
  <mat-form-field appearance='outline'>
    <input matInput formControlName='date' placeholder="Your Starting Date" type='date' required> Your Starting Date
  </mat-form-field>
  <mat-form-field appearance='outline'>
    <mat-select formControlName='discipline' placeholder="Type of workout" required>
      <mat-option value='Running'>Running</mat-option>
      <mat-option value='Swimming'>Swimming</mat-option>
      <mat-option value='Cycling'>Cycling</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance='outline'>
    <mat-select matInput formControlName='measurement' placeholder="Type Of Training" required>
      <mat-option value='Time' (click)="time()">Time</mat-option>
      <mat-option value='Distance'(click)='distance()'>Distance</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance ='outline'>
    <mat-select matInput formControlName='unit' placeholder="Unit of Measurement" required>
      <mat-option value='Miles'>Miles</mat-option>
      <mat-option value='Kilometers'>Kilometers</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance='outline'>
    <input matInput formControlName='currentDistance' placeholder="Your Starting Distance" required>
  </mat-form-field>
  <mat-form-field *ngIf='timeSelected' appearance='outline'>
    <input matInput formControlName='currentHours' placeholder="Your Starting Hours" required><hr>
    <input matInput formControlName='currentMinutes' placeholder="Your Starting Minutes" required><hr>
    <input matInput formControlName='currentSeconds' placeholder="Your Starting Seconds" required><hr>
  Current Time
  </mat-form-field>
  <br>
  <button mat-raised-button color='primary' type="submit" (click)="onSubmit()">
    <span *ngIf="!data.update">Create</span>
    <span *ngIf="data.update">Update</span>
  </button>
  <button mat-raised-button color='warn' (click)='close()'>Cancel</button>

</form>